body{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    width:100%;
    margin-top:40px;
    
    padding:0px;
    text-align:center;
    
  }
  .header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .main{
    width: 50%;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    padding: 10px 20px;
    font-family: Century Gothic;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in ease-in-out;
  }
  .btn:hover{
    background: black;
    color: #ffffff;
  }